
h1{
    font-family: algerian;
    color: red;
    margin: 0px;
    width: 100%;
    background-color: aqua;
    
}
h2{
    font-family: sans-serif;
    justify-content: space-between;
    justify-content: center;
}
.abt{
    font-family: sans-serif;
    background-color: seashell;


}
#img{
    size: 30px;
    display: flex;
    
}
img2{
    display: flex;
    size: 30px;
}
img3{
    display: flex;
    size: 30px;
}